In [1]:
PATH_TO_TRAIN = './data/rsc15_train_full.txt'
PATH_TO_TEST = './data/rsc15_test.txt'

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv(PATH_TO_TRAIN, sep='\t', dtype={'ItemId':np.int64})
valid = pd.read_csv(PATH_TO_TEST, sep='\t', dtype={'ItemId':np.int64})

In [6]:
data.head()

   SessionId     ItemId          Time
0          1  214536502  1.396861e+09
1          1  214536500  1.396861e+09
2          1  214536506  1.396861e+09
3          1  214577561  1.396861e+09
4          2  214662742  1.396872e+09

In [7]:
valid.head()

   SessionId     ItemId          Time
0   11265009  214586805  1.411997e+09
1   11265009  214509260  1.411997e+09
2   11265017  214857547  1.412011e+09
3   11265017  214857268  1.412011e+09
4   11265017  214857260  1.412011e+09

## Training

In [9]:
layers = 1